@model SisMed.WebUI.ViewModel.EspecialidadeViewModel

@{
    ViewBag.Title = "Apagar Especialidade";
}

<h2>Apagar Especialidade</h2>

<h3>Deseja mesmo cancelar essa especialidade?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
